# Basic Analysis

In [30]:
import pandas as pd

In [31]:
oo = pd.read_csv('../data/olympics.csv', skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

XLRDError: Can't find workbook in OLE2 compound document

### value_counts()

In [9]:
oo.NOC.value_counts()

USA    4335
URS    2049
GBR    1594
FRA    1314
ITA    1228
       ...
TGA       1
DJI       1
AHO       1
BDI       1
AFG       1
Name: NOC, Length: 138, dtype: int64

In [5]:
oo.Gender.value_counts(ascending=True,dropna=False)

Women     7495
Men      21721
Name: Gender, dtype: int64

### sort_values()

In [20]:
ath = oo.Athlete.sort_values()
ath

651                    AABYE, Edgar
2849          AALTONEN, Arvo Ossian
2852          AALTONEN, Arvo Ossian
7716       AALTONEN, Paavo Johannes
7730       AALTONEN, Paavo Johannes
7773       AALTONEN, Paavo Johannes
7709       AALTONEN, Paavo Johannes
8563       AALTONEN, Paavo Johannes
28460              AAMODT, Ragnhild
3436               AANING, Alf Lied
19062         AARDENBURG, Willemien
22769             AARDEWIJN, Pepijn
22267          AARONES, Ann Kristin
3437                  AAS, Karl Jan
2601           AAS, Thomas Valentin
28134              ABAJO, Jose Luis
27691              ABAKUMOVA, Maria
27983           ABALMASAU, Aliaksei
28417                    ABALO, Luc
24202         ABANDA ETONG, Patrice
21538            ABARCA, Jose Maria
27125                 ABAS, Stephen
16390     ABASCAL GARCIA, Alejandro
16806    ABASCAL GOMEZ, Jose Manuel
26049             ABASSOVA, Tamilla
28418                   ABATI, Joel
20477                   ABAY, Peter
6380             ABAY-NEMES, Oszkar
7003                  ABBA, Silvano
24757           ABBAGNALE, Agostino
                    ...
10948                ZYBINA, Galina
9128                 ZYBINA, Galina
8235                 ZYBINA, Galina
15817                ZYCH, Boguslaw
23611                ZYKINA, Olesya
25639                ZYKINA, Olesya
10596              ZÄHRINGER, Klaus
19282               ZÜHLKE, Steffen
18534                ZÜLOW, Andreas
1138                 ZÜRNER, Albert
1939                 ZÜRNER, Albert
15711           ÖRSTED, Hans-Henrik
2691                ÖRTEGREN, Ruben
3745                    ÖRVIG, Erik
3746                    ÖRVIG, Olav
3747                    ÖRVIG, Thor
3868                ÖSTENSEN, Östen
4009                ÖSTENSEN, Östen
3870                ÖSTENSEN, Östen
2730                ÖSTENSEN, Östen
3942                ÖSTENSEN, Östen
3737              ÖSTERVOLD, Henrik
3738           ÖSTERVOLD, Jan Olsen
3739      ÖSTERVOLD, Kristian Olsen
3740           ÖSTERVOLD, Ole Olsen
603                      ÖSTMO, Ole
608                      ÖSTMO, Ole
621                      ÖSTMO, Ole
596                      ÖSTMO, Ole
8051              ÖSTRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [21]:
oo.sort_values(by=['Edition','Athlete'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
134,Athens,1896,Tennis,Tennis,"BOLAND, John",ZZX,Men,doubles,M,Gold
140,Athens,1896,Tennis,Tennis,"BOLAND, John",GBR,Men,singles,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
84,Athens,1896,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
99,Athens,1896,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"team, parallel bars",M,Gold
66,Athens,1896,Fencing,Fencing,"CALLOT, Henri",FRA,Men,foil individual,M,Silver
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
148,Athens,1896,Wrestling,Wrestling Gre-R,"CHRISTOPOULOS, Stephanos",GRE,Men,open event,M,Bronze
95,Athens,1896,Gymnastics,Artistic G.,"CHRYSAPHIS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
30,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,high jump,M,Silver
32,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,long jump,M,Bronze
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
38,Athens,1896,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,pole vault,M,Bronze
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
143,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - one hand lift,M,Gold
147,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - two hand lift,M,Silver
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
28583,Beijing,2008,Hockey,Hockey,"ZHANG, Yimeng",CHN,Women,hockey,W,Silver
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
27893,Beijing,2008,Boxing,Boxing,"ZHANG, Zhilei",CHN,Men,+ 91kg (super heavyweight),M,Silver
27340,Beijing,2008,Aquatics,Swimming,"ZHAO, Jing",CHN,Women,4x100m medley relay,W,Bronze
29074,Beijing,2008,Volleyball,Volleyball,"ZHAO, Ruirui",CHN,Women,volleyball,W,Bronze
28584,Beijing,2008,Hockey,Hockey,"ZHAO, Yudiao",CHN,Women,hockey,W,Silver
28999,Beijing,2008,Tennis,Tennis,"ZHENG, Jie",CHN,Women,doubles,W,Bronze
28641,Beijing,2008,Judo,Judo,"ZHITKEYEV, Askhat",KAZ,Men,90 - 100kg (half-heavyweight),M,Silver
28169,Beijing,2008,Fencing,Fencing,"ZHONG, Man",CHN,Men,sabre individual,M,Gold
27701,Beijing,2008,Athletics,Athletics,"ZHOU, Chunxiu",CHN,Women,marathon,W,Bronze
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
29075,Beijing,2008,Volleyball,Volleyball,"ZHOU, Suhong",CHN,Women,volleyball,W,Bronze
28585,Beijing,2008,Hockey,Hockey,"ZHOU, Wanfeng",CHN,Women,hockey,W,Silver
27341,Beijing,2008,Aquatics,Swimming,"ZHOU, Yafei",CHN,Women,4x100m medley relay,W,Bronze
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
28989,Beijing,2008,Taekwondo,Taekwondo,"ZHU, Guo",CHN,Men,68 - 80 kg,M,Bronze
27394,Beijing,2008,Aquatics,Swimming,"ZHU, Qianwei",CHN,Women,4x200m freestyle relay,W,Silver
28857,Beijing,2008,Shooting,Shooting,"ZHU, Qinan",CHN,Men,10m air rifle (60 shots),M,Silver
28396,Beijing,2008,Gymnastics,Rhythmic G.,"ZHUKOVA, Inna",BLR,Women,individual all-round,W,Silver
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver
28308,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,floor exercises,M,Gold
28314,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,Gold
28342,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,Gold
27900,Beijing,2008,Boxing,Boxing,"ZOU, Shiming",CHN,Men,48kg (light flywieght),M,Gold
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

In [10]:
oo.sort_values(by=['Edition','Medal','NOC'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
53,Athens,1896,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,10km,M,Bronze
58,Athens,1896,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,1km time trial,M,Bronze
69,Athens,1896,Fencing,Fencing,"NIELSEN, Holger",DEN,Men,sabre individual,M,Bronze
120,Athens,1896,Shooting,Shooting,"NIELSEN, Holger",DEN,Men,25m rapid fire pistol (60 shots),M,Bronze
129,Athens,1896,Shooting,Shooting,"JENSEN, Viggo",DEN,Men,"army rifle, 300m",M,Bronze
...,...,...,...,...,...,...,...,...,...,...
29176,Beijing,2008,Wrestling,Wrestling Free.,"TIGIEV, Soslan",UZB,Men,66 - 74kg,M,Silver
29102,Beijing,2008,Weightlifting,Weightlifting,"HOANG, Anh Tuan",VIE,Men,"- 56kg, total (bantamweight)",M,Silver
27216,Beijing,2008,Aquatics,Swimming,"COVENTRY, Kirsty",ZIM,Women,100m backstroke,W,Silver
27268,Beijing,2008,Aquatics,Swimming,"COVENTRY, Kirsty",ZIM,Women,200m individual medley,W,Silver
27280,Beijing,2008,Aquatics,Swimming,"COVENTRY, Kirsty",ZIM,Women,400m individual medley,W,Silver

### Boolean indexing

In [22]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [28]:
notgold = oo[~(oo.Medal == 'Gold')]
notgold

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [29]:
notgold.to_csv('C:\\Users\\jdyeh\\OneDrive - Microsoft\\Desktop\\Ex_Files_Python_Excel\\basic_info.csv')

In [23]:
ls files

 Volume in drive C is Local Disk
 Volume Serial Number is 9EF5-3A92

 Directory of C:\Users\jdyeh\OneDrive - Microsoft\Desktop\Ex_Files_Python_Excel\Ex_Files_Pandas_EssT\Ch04

File Not Found

### String handling

In [29]:
oo[oo.Athlete.str.contains('Florence')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
1848,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,pairs,X,Bronze
4173,Paris,1924,Aquatics,Swimming,"BARKER, Florence",GBR,Women,4x100m freestyle relay,W,Silver
8162,Helsinki,1952,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Bronze
9060,Melbourne / Stockholm,1956,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Silver
10849,Tokyo,1964,Athletics,Athletics,"AMOORE-POLLOCK, Judith Florence",AUS,Women,400m,W,Bronze
16817,Los Angeles,1984,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Silver
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold
18374,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x400m relay,W,Silver

In [34]:
oo = pd.read_csv('../data/olympics.csv', skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [36]:
oo[(oo.Discipline == "Swimming") & (oo.Medal == 'Gold')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
152,Paris,1900,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,1500m freestyle,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27396,Beijing,2008,Aquatics,Swimming,"CIELO FILHO, Cesar",BRA,Men,50m freestyle,M,Gold
27399,Beijing,2008,Aquatics,Swimming,"STEFFEN, Britta",GER,Women,50m freestyle,W,Gold
27402,Beijing,2008,Aquatics,Swimming,"ADLINGTON, Rebecca",GBR,Women,800m freestyle,W,Gold
27405,Beijing,2008,Aquatics,Swimming,"VAN DER WEIJDEN, Maarten",NED,Men,marathon 10km,M,Gold
27408,Beijing,2008,Aquatics,Swimming,"ILCHENKO, Larisa",RUS,Women,marathon 10km,W,Gold

In [40]:
oo[oo.Athlete.str.contains('OWENS, Jesse')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [50]:
filter2 = oo[(oo.Discipline.str.contains('Badminton')) & (oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Event == 'singles')]

In [52]:
filter2.sort_values(by=['Athlete'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [69]:
filter4 = oo[(oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Event == '100m') & (oo.Edition >= 1960)]
filter4.sort_values(by=['Edition'], ascending=False)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold

In [61]:
filter3 = oo[(oo.Edition >= 1984) ]
filter3.NOC.value_counts().head(3)
# oo.NOC.value_counts()

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64